@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #060605;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    font-weight: 400;
  }
}

.header__logo {
  height: 100%;
}

.header__logo > svg {
  width: 50%;
  height: 50%;
}

.header__logo-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .nav {
    width: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.nav__link--active {
  text-underline-offset: 5px;
  -webkit-text-decoration: underline solid 5px #62b604;
          text-decoration: underline solid 5px #62b604;
}

.nav__list-item {
  font-size: 1.25rem;
  padding: 0.5rem;
  text-align: center;
}

.nav__menu-button {
  width: 2rem;
  color: #ffffff;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .nav__menu-button {
    display: none;
  }
}

.nav__list--hidden {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 992px) {
  .nav__list--hidden {
    max-height: unset;
  }
}

.hero {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.hero__img-wrapper {
  width: 80%;
  height: 340px;
}

@media screen and (min-width: 992px) {
  .hero__img-wrapper {
    width: 50%;
    height: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 2rem;
  }
}

.hero__content {
  margin-top: 2rem;
}

@media screen and (min-width: 992px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .hero__heading {
    font-size: 4.75rem;
    text-align: left;
  }
}

.hero__sub-heading {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .hero__sub-heading {
    font-size: 2.25rem;
  }
}

.hero__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .hero__buttons-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.5rem;
  }
}

.hero__button {
  background-color: #62b604;
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
}

.hero__button--ghost {
  background: none;
  border: 2px solid #62b604;
  color: #ffffff;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .portfolio {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.portfolio__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.portfolio__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__link {
  width: 95%;
}

@media screen and (min-width: 992px) {
  .portfolio__link {
    width: 75%;
  }
}

.portfolio__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  padding-bottom: 0.5rem;
}

.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  padding-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__main-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 992px) {
  .contacts__main-social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.contacts__main-heading {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .contacts__main-heading {
    text-align: center;
  }
}

.contacts__main-sub-heading {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

.contacts__main-email-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #62b604;
  padding: 0.8rem 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
}

.contacts__main-email-link .fa-paper-plane {
  margin-right: 0.75rem;
}

.contacts__main-link {
  font-size: 2rem;
  text-decoration: none;
  color: #62b604;
  margin-bottom: 1rem;
  border-radius: 15px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  color: #ffffff;
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .about {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
  }
}

.about__heading {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .about__text {
    width: 50%;
    margin: 0 auto;
  }
}

.experiencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .experiencies {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
  }
}

.experiencies__heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.experiencies__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 3rem;
  margin-top: 3rem;
}

@media screen and (min-width: 992px) {
  .experiencies__icons-wrapper {
    margin-top: 6rem;
  }
}

.experiencies__icon {
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1rem);
          flex: 0 0 calc(50% - 1rem);
}

@media screen and (min-width: 556px) {
  .experiencies__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(calc(100% / 3) - 1rem);
            flex: 0 0 calc(calc(100% / 3) - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .experiencies__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(20% - 1rem);
            flex: 0 0 calc(20% - 1rem);
  }
}

.experiencies__icon-wrapper {
  width: 75px;
  height: 75px;
  margin-left: 1.5rem;
}

.experiencies__icon-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.experiencies__icon-text {
  margin-top: 1rem;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.experiencies__icon-text::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 3px;
  background-color: #62b604;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=styles.css.map */