@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

$NavLinks: #ffffff;
$Desktop: 992px;
$HeroText: #ffffff;
$Buttons: #62b604;
$ButtonText: #000000;
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #060605;
  @media screen and(min-width:$Desktop) {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  justify-content: space-between;
  padding: 1rem;
  @media screen and(min-width:$Desktop) {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 100%;
  }
  &__logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.nav {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and(min-width:$Desktop) {
    align-items: center;
    width: fit-content;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    @media screen and(min-width:$Desktop) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__link {
    text-decoration: none;
    color: $NavLinks;
  }

  &__list-item {
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
  }
  &__menu-button {
    width: 2rem;
    color: $NavLinks;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    @media screen and(min-width:$Desktop) {
      display: none;
    }
  }

  &__list--hidden {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    @media screen and(min-width:$Desktop) {
      max-height: unset;
    }
  }
}

.hero {
  width: 100%;
  padding: 1rem;
  @media screen and(min-width:$Desktop) {
    display: flex;
  }
  &__img-wrapper {
    width: 100%;
    @media screen and(min-width:$Desktop) {
      width: 50%;
      height: 600px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__heading {
    margin-top: 0.5rem;
    color: $HeroText;
    font-size: 2rem;
    @media screen and(min-width:$Desktop) {
      font-size: 3.5rem;
    }
  }
  &__sub-heading {
    margin-top: 0.5rem;
    color: $HeroText;
    font-size: 1rem;
    @media screen and(min-width:$Desktop) {
      font-size: 1.75rem;
    }
  }
  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    @media screen and(min-width:$Desktop) {
      flex-direction: row;
    }
  }
  &__button {
    background-color: $Buttons;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: $ButtonText;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 25px;
  }
  &__button--ghost {
    background: none;
    border: 2px solid $Buttons;
    color: $NavLinks;
  }
}

.footer {
  display: flex;
  margin-top: 1rem;
  color: $HeroText;
  justify-content: center;
}
