@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #060605;
}

@media screen and (min-width: 992px) {
  body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  height: 100%;
}

.header__logo > svg {
  width: 50%;
  height: 50%;
}

.header__logo-img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link--active {
  text-underline-offset: 5px;
  -webkit-text-decoration: underline solid 5px #62b604;
          text-decoration: underline solid 5px #62b604;
}

.nav__list-item {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.nav__menu-button {
  width: 2rem;
  color: #ffffff;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .nav__menu-button {
    display: none;
  }
}

.nav__list--hidden {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 992px) {
  .nav__list--hidden {
    max-height: unset;
  }
}

.hero {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__img-wrapper {
  width: 80%;
  height: 420px;
}

@media screen and (min-width: 992px) {
  .hero__img-wrapper {
    width: 50%;
    height: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__heading {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .hero__heading {
    font-size: 3.5rem;
  }
}

.hero__sub-heading {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .hero__sub-heading {
    font-size: 1.75rem;
  }
}

.hero__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .hero__buttons-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero__button {
  background-color: #62b604;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
}

.hero__button--ghost {
  background: none;
  border: 2px solid #62b604;
  color: #ffffff;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.portfolio__link-wrapper {
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.portfolio__link {
  width: 100%;
}

.portfolio__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  padding-bottom: 0.5rem;
}

.portfolio__text {
  color: #ffffff;
}

.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts__main-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .contacts__main-links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.contacts__main-heading {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .contacts__main-heading {
    width: 100%;
  }
}

.contacts__main-link {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  border: solid 3px #62b604;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */